<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>


<meta charset="UTF-8">
<title th:text="User"></title>

</head>

<body>
	<div layout:fragment="content">
		<form th:object="${user}" method="post">

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" /><input id="userId" type="hidden"
				th:field="*{id}" />
			<div class="card card-info">
				<div class="card-header py-2">
					<div class="card-tools float-left m-0 pr-1">
						<i class="fas fa-user"></i>
					</div>
					<h3 class="card-title" th:text="User"></h3>
				</div>
				<div class="card-body">
					<div class="row mt-2">
						<div class="col-md-8">
							<label th:text="fullName"></label>
							<input type="text" class="form-control form-control-sm"
								th:classappend="${#fields.hasErrors('fullName')? 'is-invalid': ''}"
								maxlength="2000" th:field="*{fullName}"></input>
							<span th:if="${#fields.hasErrors('fullName')}"
								class="error invalid-feedback" th:errors="*{fullName}"></span>
						</div>
						<div class="col-md-4">
							<label th:text="username"></label>
							<input type="text" class="form-control form-control-sm"
								   th:classappend="${#fields.hasErrors('username')? 'is-invalid': ''}"
								   maxlength="2000" th:field="*{username}"></input>
							<span th:if="${#fields.hasErrors('username')}"
								  class="error invalid-feedback" th:errors="*{username}"></span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-4">
							<label th:text="email"></label>
							<input type="text" class="form-control form-control-sm"
								   th:classappend="${#fields.hasErrors('email')? 'is-invalid': ''}"
								   maxlength="2000" th:field="*{email}"></input>
							<span th:if="${#fields.hasErrors('email')}"
								  class="error invalid-feedback" th:errors="*{email}"></span>
						</div>
						<div class="col-md-2">
							<label th:text="administrator"></label>
							<input type="checkbox" class="form-control form-control-sm"
								   th:field="*{administrator}"></input>
							<span th:if="${#fields.hasErrors('administrator')}"
								  class="error invalid-feedback" th:errors="*{administrator}"></span>
						</div>
						<div class="col-md-3">
							<label th:text="uid"></label>
							<input type="text" class="form-control form-control-sm"
								   th:field="*{uid}"></input>
							<span th:if="${#fields.hasErrors('uid')}"
								  class="error invalid-feedback" th:errors="*{uid}"></span>
						</div>
						<div class="col-md-3">
							<label th:text="totalDaysOff"></label>
							<input type="text" class="form-control form-control-sm"
								   th:classappend="${#fields.hasErrors('totalDaysOff')? 'is-invalid': ''}"
								   maxlength="2000" th:field="*{totalDaysOff}"></input>
							<span th:if="${#fields.hasErrors('totalDaysOff')}"
								  class="error invalid-feedback" th:errors="*{totalDaysOff}"></span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" id="btnGuardar"
									class="btn btn-default float-right">
									<span th:text="Desar"></span>
								</button>
								<a class="btn btn-default float-right margin_right_5"
									th:href="@{/secure/user}"><span th:text="Cancel·lar"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div layout:fragment="additional-scripts">
		<script th:src="@{/js/user/shift-detall.js}"></script>
	</div>


</body>
</html>

