/*#chart1 {
    width: 500px; !* Set the desired width of the chart container *!
    height: 500px; !* Set the desired height of the chart container *!
    margin: 0 auto; !* Center the chart horizontally using auto margins *!
}*/

.margin_right_5 {
    margin-right: 5px;
}

.margin_right_20 {
    margin-right: 20px;
}

table .selected {
    background-color: #7cfaff;
}

table .odd.selected {
    background-color: #7cfaff !important;
}

.width_100 {
    width: 100%;
}

.file-button {
    background: #f8f9fa;
    border-color: #ddd;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 8px;
}

.file-name {
    width: 350px;
    border: 1px solid #aaa;
    overflow-wrap: break-word;
    padding: 2px;
}

input[type='file'] {
    display: none;
}

.content-wrapper {
    margin-left: 0px;
}

.img-fluid {
    width: 100%;
    height: 140px;
}

div .content-wrapper {
    margin-left: 0px !important;
}

nav {
    margin-left: 0px;
}

.image {
    display: block;
}

.image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white !important;
    text-align: right;
}

.image .overlay h1 {
    display: inline-block;
    margin-right: 33%;
}

.image .overlay h6 {
    display: inline-block;
    margin-right: 8%;
}

.image .overlay a {
    color: white !important;
}


/*Login page*/
.login-page-custom {
    background: rgb(218, 218, 218);
    /*background: linear-gradient(270deg, rgba(218, 218, 218, 1) 12%, rgba(233, 236, 239, 0) 100%);*/
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.logo-login {
    margin-bottom: 1.8em;
    text-align: center;
}

.h1-login {
    font-size: 1.8em;
    font-weight: 600;
}

.login-box {
    width: 425px;
}

.footer-login {
    margin-top: 1.8em;
    font-size: small;
}

.container-fluid-custom {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 0px;
}


/*Nav bar - User position*/
.ml-auto-custom {
    margin-left: auto !important;
    margin-right: 7.3%;
}


/*Nav bar - menu position*/
.mb-1, .my-1 {
    margin-bottom: .25rem !important;
    margin-left: 5.5%;
}


/*Logout button position*/
.image .overlay h6 {
    display: inline-block;
    margin-right: 10.2%;
}


/*Tittle app position*/
.image .overlay h1 {
    display: inline-block;
    margin-right: 32%;
}


/*Icons button search card*/
.fa, .far, .fas {
    margin: 3px 6px 0px 0px;
}

.fab, .far {
    font-weight: 900;
}


/*---Theme color configuration---*/
/*Search Buttons - all pages*/
.btn-info-custom {
    color: #fff;
    background-color: #E0AFA0;
    box-shadow: none;
}

.btn-info-custom:hover {
    color: #fff;
    background-color: #E0AFA0;

}

.btn-info-custom:focus, .btn-info-custom.focus {
    color: #fff;
    background-color: #E0AFA0;
    box-shadow: 0 0 0 0 rgba(58, 176, 195, 0.5);
}

.btn-info-custom.disabled, .btn-info-custom:disabled {
    color: #fff;
    background-color: #E0AFA0;

}

.btn-info-custom:not(:disabled):not(.disabled):active, .btn-info-custom:not(:disabled):not(.disabled).active,
.show > .btn-info-custom.dropdown-toggle {
    color: #fff;
    background-color: #E0AFA0;

}

.btn-info-custom:not(:disabled):not(.disabled):active:focus, .btn-info-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-info-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(58, 176, 195, 0.5);
}


/*Pagination Buttons - all pages*/
.accent-info .page-item.active .page-link, .accent-info .page-item.active a {
    background-color: #E0AFA0;
    border-color: #E0AFA0;
    color: #fff;
}


/*Card Info color label - all pages*/
.card-info:not(.card-outline) .card-header {
    background-color: #E0AFA0;
}

.card-info.card-outline-tabs > .card-header a.active {
    border-top: 3px solid #E0AFA0;
}


/*Card info outline color*/
.callout.callout-info-custom {
    border-left-color: #E0AFA0;
}


/*Line decoration on active tab - all pages*/
.card-primary.card-outline {
    border-top: 3px solid #E0AFA0;
}


/*Button search on alerts detail page*/
.btn-primary {
    color: #fff;
    background-color: #E0AFA0;
    border-color: #E0AFA0;
    box-shadow: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #E0AFA0;
    border-color: #E0AFA0;
}


/*Folders in person groups page*/
.text-info {
    color: #E0AFA0 !important;
}


/*Line decoration on sending list page*/
.card-info.card-outline {
    border-top: 3px solid #E0AFA0;
}


/*Color text person group page*/
.accent-info .btn-link, .accent-info .nav-tabs .nav-link, .accent-info a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn) {
    color: #E0AFA0;
}


/*Space between icon and text menú*/
.main-header.text-sm .nav-link > .fa, .main-header.text-sm .nav-link > .fab, .main-header.text-sm .nav-link > .fad, .main-header.text-sm .nav-link > .fal, .main-header.text-sm .nav-link > .far, .main-header.text-sm .nav-link > .fas, .main-header.text-sm .nav-link > .ion, .main-header.text-sm .nav-link > .svg-inline--fa, .text-sm .main-header .nav-link > .fa, .text-sm .main-header .nav-link > .fab, .text-sm .main-header .nav-link > .fad, .text-sm .main-header .nav-link > .fal, .text-sm .main-header .nav-link > .far, .text-sm .main-header .nav-link > .fas, .text-sm .main-header .nav-link > .ion, .text-sm .main-header .nav-link > .svg-inline--fa {
    font-size: 0.875rem;
    margin: 3px;
}

.icon-red {
    color: red !important;
}



